.siteFooter {
  background: var(--dark);
  padding-block: 16px;
  color: var(--dark);
  gap: 1.6rem;
  flex-wrap: wrap-reverse;
  border-radius: clamp(12px, 2vw, 16px);
  padding-inline: 16px 12px;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    flex-wrap: nowrap;
    height: 664px;
  }
}
.siteFooter__main,
.siteFooter__side {
  width: 100%;
  height: 100%;
  gap: 1.6rem;
}
.siteFooter__main {
  .siteFooter__bmac {
    width: fit-content;
    flex-direction: row;
    border-radius: 999px;
    gap: 8px;
    height: fit-content;
    background: var(--footer-3);
    transition: opacity 0.2s ease;

    .coffeeImage {
      height: 32px;
    }

    span {
      margin-top: 0;
      text-decoration: none;
      text-transform: none;
      color: var(--dark);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.siteFooter__side {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.siteFooter__row {
  gap: 1.6rem;
  flex-direction: column;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    flex-direction: row;
  }
}
.siteFooter__cell {
  position: relative;
  display: flex;
  border-radius: 8px;
  padding: clamp(16px, 3vw, 24px);
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 115px;
}
.siteFooter__cell_1 {
  background: var(--footer-1);
  h4 {
    font-size: clamp(4rem, 7vw, 7.2rem);
    letter-spacing: 1.68px;
    line-height: 0.9;
    text-transform: uppercase;
    font-weight: 900;
  }
}
.siteFooter__cell_2 {
  background: var(--footer-2);
}
.siteFooter__cell_3 {
  background: var(--footer-3);
  gap: 1.6rem;
}
.siteFooter__cell_4 {
  background: var(--footer-4);
  grid-area: span 3 / span 1;
  will-change: contents;

  a {
    margin-bottom: auto;
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  svg {
    align-self: flex-end;
    margin-bottom: auto;
    transition: transform 0.3s ease;
  }

  &:hover {
    svg {
      transform: translate(2px, -4px);
    }
  }
}
.siteFooter__cell_5 {
  flex-wrap: wrap-reverse;
  background: var(--footer-5);
  gap: 0.8rem;
  justify-content: center;

  a {
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  svg {
    transition: transform 0.3s ease;
  }

  &:hover {
    svg {
      transform: translateY(-4px);
    }
  }

  @media only screen and (min-width: 1025px) {
    flex-wrap: nowrap;
  }
}
.siteFooter__cell_6 {
  background: var(--footer-6);
  grid-area: span 2 / span 1;
  a {
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:hover span {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

.hover_brightness {
  transition: filter 0.2s ease;
}

@media (hover: hover) and (pointer: fine) {
  .hover_brightness:hover {
    filter: brightness(1.1);
  }
}
