/*
   Site Footer
   ========================================================================== */

.page-single-runclub ~ footer {
  background: var(--accent);
  color: var(--dark);
}
.siteFooter {
  padding-bottom: 16px;
  color: var(--dark);
  gap: 1.6rem;
  flex-direction: row;
  flex-wrap: nowrap;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      height: 664px;
  }
}
.siteFooter__main, .siteFooter__side {
    width: 100%;
    height: 100%;
    gap: 1.6rem;
}
.siteFooter__main {

  .siteFooter__bmac {
    width: fit-content;
    flex-direction: row;
    border-radius: 999px;
    gap: 1rem;
    height: fit-content;
    background: var(--footer-3);

    .coffeeImage {
      height: 32px;
    }

    span {
      margin-top: 0;
      text-decoration: none;
      text-transform: none;
      color: var(--dark);
    }
  }
}

.siteFooter__side {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.siteFooter__row {
    height: 100%;
    gap: 1.6rem;
    flex-wrap: nowrap;
}
.siteFooter__cell {
  display: flex;
  border-radius: 24px;
  padding: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}
.siteFooter__cell_1 {
  background: var(--footer-1);
  h4 {
    font-size: clamp(6.4rem, 7vw, 7.2rem);
    letter-spacing: 1.68px;
    line-height: 0.9;
    text-transform: uppercase;
    font-weight: 900;
  }
}
.siteFooter__cell_2 {
  background: var(--footer-2);
}
.siteFooter__cell_3 {
  background: var(--footer-3);
  gap: 1.6rem;
}
.siteFooter__cell_4 {
  background: var(--footer-4);
  grid-area: span 3 / span 1;
}
.siteFooter__cell_5 {
  position: relative;
  flex-wrap: wrap-reverse;
  background: var(--footer-5);
  gap: 0.8rem;
  justify-content: center;

    a {
        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

  @media only screen and (min-width: 1025px) {
      flex-wrap: nowrap;
  }
}
.siteFooter__cell_6 {
  position: relative;
  background: var(--footer-6);
  grid-area: span 2 / span 1;
  a {
    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &:hover span {
        text-decoration: underline;
        text-underline-offset: 2px;
    }
  }
}
