.floatingMenu {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100vw - clamp(40px, 8vw, 80px));
  max-width: 600px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  background: var(--cream);
  color: var(--dark);
  border-radius: 16px;
  border: 2px solid var(--dark);
  padding: 0.8rem;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  .actions {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    span {
        margin-left: 8px;
    }
  }
}

/* Menu button */
.burgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  background: var(--dark);
  border-radius: 8px;
  transition: background 0.2s ease;

  path {
    stroke: var(--cream);
    transition: stroke 0.2s ease;
  }
}

/* Menu items container */
.menuItems {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  background: var(--cream);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  gap: 1.2rem;
  align-items: center;
  overflow: hidden;
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: height 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 999;
}

/* Expanded state */
.floatingMenu.expanded .menuItems {
  height: auto;
  opacity: 1; 
  pointer-events: auto; 
  padding: 1.2rem;
}

.item {
  position: relative;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.8rem;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  transition: background 0.2s ease;

  a {
    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
  }


  .item__icon {
    flex-shrink: 0;
  }
}

.menuItems a,
.menuItems button {
  text-decoration: none;
  cursor: pointer;
  text-wrap: nowrap;
}

@media (hover: hover) and (pointer: fine) {
    .item:hover {
        background: rgba(0, 0, 0, 0.1);
    }
    .burgerMenu:hover {
        background: var(--accent);
        path {
            stroke: var(--dark);
        }
    }
}