.clubCard {
  background: var(--cream);
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.20);
  padding: 1.5rem 1.5rem 1.2rem 1.5rem;
  color: var(--dark);
  border: 1px solid var(--gray);
  cursor: pointer;
  width: 100%;
  transition: background 0.2s ease;
}

.clubCard:hover {
  background: var(--white);
}

.clubCard__content {
  display: flex;
  flex-direction: column;
}
.clubCard__status {
  width: fit-content;
  padding-inline: 0.8rem;
  padding-block: 0.4rem 0.2rem;
  border-radius: 9999px;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  box-shadow: 0 1px 6px rgba(0,0,0,0.15);
  background: var(--cream);
}

.approved {
  background: #007500;
  color: var(--cream);
  border: 1px solid #007500;
}

.pending {
  background: #ffe066;
  color: var(--dark);
  border: 1px solid #ffe066;
}

.clubCard__header {
  margin-bottom: 1.2rem;
  justify-content: space-between;
  align-items: center;

  .icon {
    width: 32px;
    height: 32px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: 1px solid transparent;
    background: var(--accent);
    color: var(--cream);
    transition: opacity 0.2s;  

    &:hover {
      opacity: 0.9;
    }
  }
}

.clubCard__title {
  color: var(--dark);
}

.clubCard__description {
  color: var(--dark);
  opacity: 0.8;
  margin-bottom: 1.2rem;
}

.clubCard__days {
  align-items: center;
  gap: 0.4rem;

  .day {
    background: var(--dark);
    color: var(--cream);
  }
}

.clubCard__location,
.clubCard__members,
.clubCard__nextRun {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.4rem;
  color: var(--gray);
}

.clubCard__icon {
  width: 16px;
  height: 16px;
  color: var(--gray);
  flex-shrink: 0;
}