.siteNav {
    margin-inline: auto;
    padding: 0.4rem;
    background: var(--dark-gray);
    color: var(--cream);
    border-radius: var(--bradius-16);
    width: fit-content;
    margin-top: 1.2rem;
}

.siteNav__nav {
    gap: 0.8rem;
}

.siteNav__link {
    border-radius: var(--bradius-12);
    gap: 0.8rem;
    border: 1px solid transparent;
    transition: border 0.2s ease, background 0.2s ease;

    &.icon {
        align-items: center;
        justify-content: center;
        background: var(--dark);
        padding-inline: 1.6rem;

        svg {
            stroke: var(--cream);
        }
    }
}


/* Tooltips on menu item hover */
.Content {
	border-radius: 4px;
	padding: 10px 15px;
	font-size: 1.2rem;
	line-height: 1;
	color: var(--dark);
	background-color: var(--white);
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	user-select: none;
	animation-duration: 300ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
	&[data-state="delayed-open"][data-side="top"] {
		animation-name: slideDownAndFade;
	}
	&[data-state="delayed-open"][data-side="right"] {
		animation-name: slideLeftAndFade;
	}
	&[data-state="delayed-open"][data-side="bottom"] {
		animation-name: slideUpAndFade;
	}
	&[data-state="delayed-open"][data-side="left"] {
		animation-name: slideRightAndFade;
	}
}

.Arrow {
    fill: var(--white);
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}



@media (hover:hover) and (pointer:fine) {
    .siteNav__link:hover {
        border: 1px solid var(--accent);
        background: var(--dark-gray);
    }

}