.weatherWidget {
  display: flex;
  align-items: center;
  font-family: var(--font-work-sans);
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--cream);
  width: fit-content;
  margin-inline: auto;
  padding-inline: 16px;

  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
}