.ctaSection {
  padding-block: clamp(16px, 6vw, 60px) 0;
  &:global(.container) {
    padding-inline: 0;
  }
}
.ctaSection__wrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap-reverse;
  background: var(--cream);
  padding: clamp(16px, 3vw, 24px);
  border-radius: clamp(32px, 4vw, 40px);
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;

  &.whiteBg {
    background: var(--cream);
    color: var(--dark);
  }
}
.ctaSection a {
  position: relative;
  justify-content: space-between;

  span:last-of-type {
    width: fit-content;
    left: 24px;
  }
}
.ctaSection__main {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-right: 40px;
  }
}
.ctaSection__title {
  color: var(--dark);
  max-width: 488px;
  text-transform: uppercase;
  padding-right: 40px;
  line-height: 1.1;
}
.ctaSection__text {
  margin-top: clamp(12px, 2vw, 16px);
  max-width: 488px;
  color: var(--dark);
}
.ctaSection__actions {
  margin-top: clamp(40px, 5vw, 48px);
  align-items: center;
  gap: 1rem;
  margin-left: auto;

  .ctaSection__btn {
    padding-inline: 16px 8px;
    padding-block: 4px;
    font-size: 1.4rem;
    font-weight: 600;
    gap: 8px;
    width: 100%;
    
    div {
      padding: 7px;
    }

    &:last-of-type {
      div {
        &::after {
          display: none;
        }
      }
    }
  
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      margin-top: auto;
      margin-left: 0;
      max-width: fit-content;

    }
  }
}
.ctaSection__side {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-bottom: 0;
  }
}
.ctaSection__image {
  border-radius: 16px;
  object-fit: cover;
  width: 100%;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    max-height: 416px;
    max-width: 614px;
  }
}
