.rcForm {
  margin-block: 48px 0px;
  margin-inline: auto;
}
.rcForm__header {
  margin-bottom: clamp(40px, 7vw, 64px);

  p:first-of-type {
    margin-bottom: 0.8rem;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    align-self: center;
    text-align: center;
  }
}
.rcForm__title {
  margin-bottom: clamp(2.4rem, 4vw, 4rem);
}
.rcForm__wrapper {
  gap: 3.2rem;
  margin-block: 0px clamp(32px, 4vw, 40px);
}
.rcForm__block {
  gap: 1.2rem;
  width: 100%;
  max-width: 600px;
}
.rcForm__step {
  gap: 0.8rem 1.2rem;
  align-items: center;
  color: var(--form-label);

  .icon {
    font-size: 1.4rem;
    font-weight: 700;
    padding-block: 3px 2px;
    padding-inline: 15px 14px;
    background: rgba(255, 255, 255, 0.1);
    color: var(--cream);
    backdrop-filter: blur(10px);
    border: 0.5px solid var(--cream);
    border-radius: 999px;
    text-wrap: nowrap;
  }
}
.rcForm__section {
  padding-inline: 2rem;
  padding-block: 2.4rem;
  border-radius: 16px;
  gap: 1rem;
  width: 100%;
  background: var(--cream);
  color: var(--dark);
}
/** *Form elements* */
.rcForm__timePicker {
  background: var(--cream);

  .rcForm__label {
    font-family: var(--font-inter-tight);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--dark);

    span {
      color: var(--accent);
    }
  }

  .pickerInput {
    background: var(--cream);
    border: 1px solid var(--dark);
    border-radius: 8px;
    &:hover {
      border-color: var(--dark);
    }
    .number {
      min-height: 24px;
      min-width: 32px;
      font-family: var(--font-inter-tight);
      font-size: 1.4rem;
      font-weight: 500;
      &::placeholder {
        color: var(--dark);
      }
    }
    .trigger {
      &:hover {
        background: var(--white);
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
/* Time picker modal */
.rcForm__pickerPopover {
  background: var(--cream) !important;
  border: 1px solid var(--dark) !important;
  border-radius: 8px !important;
  padding: 1rem !important;
  width: 225px !important;
  height: 225px !important;

  .rcForm__popoverColTitle {
    font-family: var(--font-inter-tight);
    font-size: 1.4rem;
    opacity: 1;
    font-weight: 600;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid var(--accent);
  }
  .rcForm__popoverItem {
    font-family: var(--font-inter-tight);
    padding: 0.8rem;
    color: var(--dark);

    &.popoverActiveItem {
      background: var(--dark);
      color: var(--cream);
    }

    &:hover {
      background: var(--dark);
      color: var(--cream);
    }
  }
}
.customInput {
  width: 100%;

  .rcForm__input {
    border-radius: 12px;
    padding-block: 8px;
    padding-inline: 16px 8px;
    border: 1px solid var(--dark);
    background: var(--cream);
    color: var(--dark);
    width: 100%;
    transition: all 0.2s ease;
  }

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}
.customTextArea textarea::placeholder, .customInput input::placeholder {
  font-size: 1.6rem;
}
.customInput__file {
  gap: 0.75rem;
  align-items: center;
  padding-inline: 1.6rem;
  padding-block: 2.4rem;
  border: 1px solid var(--dark);
  border-radius: 8px;
  background: rgba(15, 23, 42, 0.1);
  transition: all 0.2s ease;
  position: relative;

  .icon {
    align-items: center;
    border: 2px solid var(--accent);
    padding: 12px;
    border-radius: 999px;
    transition: all 0.2s ease;
  }

  span {
    padding-bottom: 8px;
    margin-bottom: 0;
    text-align: center;
  }
  .rcForm__uploadBtn {
    padding-block: 4px;
    padding-inline: 16px 4px;
    border: 1px solid transparent;
    transition: all 0.2s ease;
    gap: 1rem;
  }
}

.customInput__file .rcForm__file {
  width: 100%;
  height: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.6rem;
  background: transparent;
  cursor: pointer;
  position: relative;
}
.customInput__file input[type="file"] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.customInput__file .rcForm__file::file-selector-button {
  margin-right: 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
}
.rcForm__label {
  margin-bottom: 4px;
  font-size: 1.8rem;
  line-height: 1.4;

  .small {
    font-size: 1.4rem;
    color: var(--dark);
  }

  span {
    color: var(--accent);
  }
}
.rcForm__hint {
  margin-top: 4px;
  font-size: 1.3rem;
  color: var(--error);
  opacity: 0.8;
}
.customInput__error {
  color: var(--error);
  padding-top: 8px;
  margin-left: 4px;
  font-size: 1.4rem;
}
.customTextArea {
  width: 100%;

  textarea {
    border-radius: 8px;
    padding: 8px;
    border: 1px solid var(--dark);
    background: var(--cream);
    color: var(--dark);
    width: 100%;
    max-width: 550px;
  }
}
.rcForm__checkboxGroup {
  gap: 1.2rem;
  margin-top: 8px;
}
.rcForm__checkboxLabel {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  transition: opacity 0.2s ease;
  user-select: none;
}

.rcForm__checkboxLabel:hover {
  opacity: 0.8;
}

/* Custom checkbox styling */
.rcForm__checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid var(--cream);
  background-color: var(--cream);
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  flex-shrink: 0;
}

.rcForm__submit {
  margin-left: auto;
  border: 1px solid transparent;
  width: 100%;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    width: fit-content;
  }
}

@media (hover: hover) and (pointer: fine) {
  .customInput__file:hover {
    background: var(--cream);

    .rcForm__uploadBtn {
      border: 1px solid var(--accent);
      background: var(--accent);
      color: var(--dark);

      .icon {
        border: 2px solid var(--dark);
      }
    }
  }
}
