.loginForm__section {
  padding-block: 48px;
  background: var(--cream);
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-block: 3.3333vw;
  }
}

/* Login Form */
.loginForm {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  color: var(--dark);
  gap: 1.5rem;
  border: 1px solid var(--dark);
  border-radius: 10px;
  padding: 24px;
  }

  .loginForm__header {
    margin-bottom: 16px;
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
        margin-bottom: 1.6666vw;
    }
  }
  .loginForm__header > p {
    text-align: center;
  }

  .loginForm__title {
    text-align: center;
    margin-bottom: 8px;
  }






/*
   Tab switcher
   ========================================================================== */
.tabs__root {
  margin-inline: auto;
}



.tabs__list {
  position: relative;
  display: flex;
  background: var(--dark);
  border-radius: 200px;
  border: 1px solid var(--dark);
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-inline: 3px;
  padding-block: 3px;
  margin-block: 0 4.1025vw;
  margin-inline: auto;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    width: 100%;
    max-width: 375px;
    min-width: 200px;
    margin-block: 0 1.111vw;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    user-select: none;
    white-space: pre;
    width: 50%;
    height: calc(100% - 6px);
    background-color: var(--cream);
    z-index: 0;
    left: 3px;
    right: 3px;
    border-radius: 200px;
    transition: transform 300ms ease-in-out;
  }
}

.tabs__list.slide_right::before {
  transform: translate(calc(100% - 6px));
}

.tabs__trigger {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: var(--cream);
  background: none;
  border-radius: 200px;
  border: none;
  z-index: 1;
  gap: 8px;
  width: calc(50% + 8px);
  padding-block: 14px 12px;
  padding-inline: 0 3px;
  cursor: pointer;
  transition: color 0.3s ease;

  &[data-state="active"] {
    transition-delay: 200ms;
    color: var(--dark);
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    justify-content: center;
  }
}

.tabs__content {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.tabs__content[data-state="active"] {
  opacity: 1;
  transform: translateY(0);
}

.tabs__content[data-state="inactive"] {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  position: absolute;
}
