.loginPage__main {
  color: var(--dark);
  margin-top: 16px;
  display: block;
  padding-inline: 16px 12px;
}
.loginPage__wrapper {
  padding-block: clamp(6.4rem, 8vw, 8rem);
  padding-inline: 1.6rem;
  background: var(--cream);

}

/* Login Form */
.loginForm {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--dark);
  padding-inline: clamp(1.2rem, 2vw, 2rem);
  padding-block: clamp(1.6rem, 2vw, 2.4rem);
  width: 100%;

  &.loginForm_signup {
    button {
      margin-top: 3.2rem;
    }
  }
}

.loginForm__header {
  margin-bottom: 16px;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-bottom: 1.6666vw;
  }
}
.loginForm__header > p {
  text-align: center;
}

.loginForm__title {
  text-align: center;
  margin-bottom: 8px;
  color: var(--dark);
}
.login__text {
  margin-top: 1.2rem;
  text-align: center;
}
.login__link {
  cursor: pointer;
  font-weight: 500;;
}
.loginForm__actions {
  align-items: center;
  gap: 1.6rem;
  margin-top: 1.4rem;

  button {
    width: 100%;
    max-width: 400px;
    max-height: 40px;
  }
}
