:root {
  /** Colors **/
  --dark: #100f0e;
  --gray: #858585;
  --form-label: #d7d7d7;
  --accent: #e2572c;
  --white: #fffaf0;
  --cream: #faf3e0;
  --footer-1: var(--cream);
  --footer-2: #f97239;
  --footer-3: #f8e7ce;
  --footer-4: #ffb88f;
  --footer-5: var(--accent);
  --footer-6: #f8e7ce;
  --divider: 1px solid rgba(0, 0, 0, 0.2);
  /* Border radius */
  --bradius-s: 8px;
  --bradius-m: 16px;
  --bradius-l: 32px;
  /* Feedback color */
  --success: #4bb543;
  --error: #ff0000;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  /* disable unwanted auto-enlargement of small text in mobile Webkit and Windows Mobile */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--cream);
  background: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*
   Text styles
   ========================================================================== */
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}

h1,
.h1 {
  font-family: var(--font-inter-tight);
  font-weight: 800;
  line-height: 1.2;
  font-size: clamp(3.2rem, 4vw, 3.6rem);
}
h2,
.h2 {
  font-family: var(--font-inter-tight);
  font-weight: 900;
  font-size: clamp(2.4rem, 3vw, 2.8rem);
  line-height: auto;
}

h3,
.h3 {
  font-family: var(--font-inter-tight);
  font-weight: 500;
  font-size: clamp(2rem, 3vw, 2.4rem);
  line-height: auto;
}
h4,
.h4 {
  font-family: var(--font-inter-tight);
  font-weight: 600;
  font-size: clamp(1.6rem, 2vw, 1.8rem);
}
h5,
.h5 {
  font-family: var(--font-inter-tight);
  font-weight: 500;
  font-size: 1.4rem;
}

p,
.txt-body {
  font-size: 1.6rem;
  line-height: 1.3;
  max-width: 62ch;
  font-family: var(--font-work-sans);
}
span {
  font-size: inherit;
  font-family: var(--font-inter-tight);
}
.underline {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.txt-label {
  font-family: var(--font-inter-tight);
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  font-weight: 500;
  letter-spacing: 0.8px;
}
.txt-small {
  font-size: 1.2rem;
  font-weight: 400;
}
.txt-btn {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
    Layout helpers
   ========================================================================== */
.fp {
  display: flex;
  flex-wrap: wrap;
}
.fp-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.list-block {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}
.list-flex {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}
.list-grid {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
}
.list-grid--2 {
  grid-template-columns: repeat(1, 1fr);

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.list-grid--3 {
  grid-template-columns: repeat(1, 1fr);

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.list-grid--4 {
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.list-grid--5 {
  grid-template-columns: repeat(1, 1fr);

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media only screen and (min-width: 1025px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

/*
   Buttons
   ========================================================================== */
button {
  cursor: pointer;
  outline: none;
  padding: clamp(8px, 1vw, 14px) clamp(16px, 3vw, 24px);
  font-size: 1.4rem;
  font-weight: 500;
}

.btn_main {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: clamp(10px, 2vw, 13.5px) clamp(16px, 3vw, 24px);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  border: 1px solid transparent;
  border-radius: 999px;
  background: var(--dark);
  color: var(--cream);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  border: 1px solid var(--dark);

  &:focus {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
  &:active {
    transform: scale(0.95);
  }

  &.socials {
    width: 100%;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding-inline: 4px 16px;
    gap: 1rem;
    padding-block: 4px;
    text-transform: none;

    @media only screen and (min-width: 468px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      width: fit-content;
    }

    &:hover {
      background: var(--dark);
      color: var(--cream);
    }
  }
  &.socials a {
    flex: 1;
    text-align: center;
  }

  &.white {
    background: var(--white);
    color: var(--dark);
    border: 1px solid var(--dark);
  }
  &.cream {
    background: var(--cream);
    color: var(--dark);
    border: 1px solid var(--cream);
  }
}
.btn_small {
  display: inline-block;
  padding: 8px 16px;
  font-size: 1.4rem;
  font-weight: 500;
  border: 1.5px solid var(--cream);
  border-radius: 999px;
  background: transparent;
  color: var(--cream);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-txt-anim {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  gap: 8px;
  transition: all 0.2s ease;
}

/* ** Icon Carousel Animation for back link ****/
.icon-carousel-anim.left .icon-main {
  transform: translateX(0);
  opacity: 1;
}
.icon-carousel-anim.left .icon-hovered {
  transform: translateX(200%);
  opacity: 0;
}

/* ** Main btn with icon ***/
.icon-carousel-anim {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  transition: opacity 0.2s ease, transform 0.3s ease;
  padding-inline: 8px;
}
.btn_main .icon-carousel-anim {
  transition: opacity 0.2s ease, transform 0.6s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(to left, var(--dark), rgba(255, 255, 255, 0));
  }
}

.btn_main > .icon-carousel-anim > .icon-hovered {
  transform: translateX(-200%);
}
.btn_main > .icon-carousel-anim > .icon-main {
  transform: translateX(0);
}

.back-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: var(--font-work-sans);
  cursor: pointer;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  border-radius: 999px;
  padding-inline: 8px 16px;
  padding-block: 8px;
}

.card-label--small {
  padding-block: 2px;
  padding-inline: 14px;
  border-radius: 999px;
  border: 1px solid var(--dark);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Only non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .btn-txt-anim:hover {
    filter: brightness(1.2);
  }

  .btn-txt-anim:active,
  .back-link:active {
    transform: scale(0.95);
  }

  .back-link:hover,
  .back-link:active {
    border: 2px solid var(--accent);
  }

  .back-link:hover .icon-main {
    transform: translateX(-200%);
    opacity: 0;
  }
  .back-link:hover .icon-carousel-anim.left .icon-hovered {
    transform: translateX(0);
    opacity: 1;
  }
  .btn_main:hover .icon-main {
    transform: translateX(200%);
    opacity: 1;
  }
  .btn_main:hover .icon-hovered {
    transform: translateX(0);
    opacity: 1;
  }

  .btn-txt-anim:hover .txt-main {
    transform: translateY(-200%);
    opacity: 0;
  }

  .btn-txt-anim:hover .txt-hovered {
    transform: translateY(0);
    opacity: 1;
  }

  /* White alt button */
  .btn_main.white:hover {
    &.white--alt {
      background: var(--dark);
      color: var(--cream);
      border: 1px solid var(--cream);
    }
  }
}

.btn-txt-anim .txt-main,
.btn-txt-anim .txt-hovered,
.icon-carousel-anim .icon-main,
.icon-carousel-anim .icon-hovered {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  transition: transform 0.3s ease, opacity 0.1s ease;
}
.btn-txt-anim .txt-main,
.icon-carousel-anim .icon-main {
  opacity: 1;
}
.icon-carousel-anim .icon-hovered {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateX(200%);
  opacity: 0;
}

.btn-txt-anim .txt-hovered {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(200%);
  opacity: 0;
}

/* Container */
.container {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-inline: auto;
  padding-inline: 12px;

  &.block {
    display: block;
  }
}
/*
    Grid system
   ========================================================================== */

.col-m-1 {
  width: 8.333333%;
}
.col-m-2 {
  width: 16.666667%;
}
.col-m-3 {
  width: 25%;
}
.col-m-4 {
  width: 33.333333%;
}
.col-m-5 {
  width: 41.666667%;
}
.col-m-6 {
  width: 50%;
}
.col-m-7 {
  width: 58.333333%;
}
.col-m-8 {
  width: 66.666667%;
}
.col-m-9 {
  width: 75%;
}
.col-m-10 {
  width: 83.333333%;
}
.col-m-11 {
  width: 91.666667%;
}
.col-m-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-t-1 {
    width: 8.333333%;
  }
  .col-t-2 {
    width: 16.666667%;
  }
  .col-t-3 {
    width: 25%;
  }
  .col-t-4 {
    width: 33.333333%;
  }
  .col-t-5 {
    width: 41.666667%;
  }
  .col-t-6 {
    width: 50%;
  }
  .col-t-7 {
    width: 58.333333%;
  }
  .col-t-8 {
    width: 66.666667%;
  }
  .col-t-9 {
    width: 75%;
  }
  .col-t-10 {
    width: 83.333333%;
  }
  .col-t-11 {
    width: 91.666667%;
  }
  .col-t-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .col-d-1 {
    width: 8.333333%;
  }
  .col-d-2 {
    width: 16.666667%;
  }
  .col-d-3 {
    width: 25%;
  }
  .col-d-4 {
    width: 33.333333%;
  }
  .col-d-5 {
    width: 41.666667%;
  }
  .col-d-6 {
    width: 50%;
  }
  .col-d-7 {
    width: 58.333333%;
  }
  .col-d-8 {
    width: 66.666667%;
  }
  .col-d-9 {
    width: 75%;
  }
  .col-d-10 {
    width: 83.333333%;
  }
  .col-d-11 {
    width: 91.666667%;
  }
  .col-d-12 {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/*
   Common helpers
   ========================================================================== */
   .bradius-s {
    border-radius: var(--bradius-s);
   }
   .bradius-m {
    border-radius: var(--bradius-m);
   }
    .bradius-l {
      border-radius: var(--bradius-l);
    }
    


/*
   Site Nav Bar
   ========================================================================== */

.siteNav {
  padding-block: 24px;
  background: var(--dark);
  color: var(--cream);
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 4px 24px;
  transition: 0.3s ease;
  position: fixed;
  top: 0;
  left: -50%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  transform: translateX(50%);
}
.siteNav__logo {
  position: relative;

  img {
    width: clamp(48px, 6vw, 64px);
    height: clamp(48px, 6vw, 64px);
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.siteNav--scrolled {
  padding-block: 16px;
  box-shadow: 0 8px 10px -5px rgb(0 0 0 / 16%), 0 16px 24px 2px rgb(0 0 0 / 11%), 0 6px 30px 5px rgb(0 0 0 / 10%);
}



/*
   Form elements
   ========================================================================== */
   /** *Form elements* */

.inputRow {
  width: 100%;

  .rcForm__input {
    border-radius: 12px;
    padding-block: 8px;
    padding-inline: 16px 8px;
    border: 1px solid var(--dark);
    background: var(--cream);
    color: var(--dark);
    width: 100%;
    transition: all 0.2s ease;
  }

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}
.textareaRow textarea::placeholder,
.inputRow input::placeholder {
  font-size: 1.6rem;
}
.inputRow__file {
  gap: 0.75rem;
  align-items: center;
  padding-inline: 1.6rem;
  padding-block: 2.4rem;
  border: 1px solid var(--dark);
  border-radius: 8px;
  background: rgba(15, 23, 42, 0.1);
  transition: all 0.2s ease;
  position: relative;

  .icon {
    align-items: center;
    border: 2px solid var(--accent);
    padding: 12px;
    border-radius: 999px;
    transition: all 0.2s ease;
  }

  span {
    padding-bottom: 8px;
    margin-bottom: 0;
    text-align: center;
  }
  .rcForm__uploadBtn {
    padding-block: 4px;
    padding-inline: 16px 4px;
    border: 1px solid transparent;
    transition: all 0.2s ease;
    gap: 1rem;
  }
}

.inputRow__file .rcForm__file {
  width: 100%;
  height: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.6rem;
  background: transparent;
  cursor: pointer;
  position: relative;
}
.inputRow__file input[type="file"] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.inputRow__file .rcForm__file::file-selector-button {
  margin-right: 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
}
.rcForm__label {
  margin-bottom: 4px;
  font-size: 1.8rem;
  line-height: 1.4;

  .small {
    font-size: 1.4rem;
    color: var(--dark);
  }

  .rcForm__required {
    color: var(--accent);
  }
}
.rcForm__hint {
  margin-top: 4px;
  font-size: 1.3rem;
  color: var(--error);
  opacity: 0.8;
}
.inputRow__error {
  color: var(--error);
  padding-top: 8px;
  margin-left: 4px;
  font-size: 1.4rem;
}
.textareaRow {
  width: 100%;

  textarea {
    border-radius: 8px;
    padding: 8px;
    border: 1px solid var(--dark);
    background: var(--cream);
    color: var(--dark);
    width: 100%;
    max-width: 550px;
  }
}
.rcForm__checkboxGroup {
  gap: 1.2rem;
  margin-top: 8px;
}
.rcForm__checkboxLabel {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  transition: opacity 0.2s ease;
  user-select: none;
}

/* Custom checkbox styling */
.rcForm__checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid var(--cream);
  background-color: var(--cream);
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  flex-shrink: 0;
}

.rcForm__submit {
  margin-left: auto;
  border: 1px solid transparent;
  width: 100%;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    width: fit-content;
  }
}

@media (hover: hover) and (pointer: fine) {
  .inputRow__file:hover {
    background: var(--cream);

    .rcForm__uploadBtn {
      border: 1px solid var(--accent);
      background: var(--accent);
      color: var(--dark);

      .icon {
        border: 2px solid var(--dark);
      }
    }
  }
  .rcForm__checkboxLabel:hover {
    opacity: 0.8;
  }
}
