.page {
  min-height: 100svh;
  padding-block: 16px clamp(64px, 8vw, 84px);
  font-family: var(--font-inter-tight);
}
/*
   Navigation
   ========================================================================== */

.pageNav {
  margin-block: 0px 16px;
  padding-inline: 12px 20px;

  &:empty {
    display: none;
  }
}
.pageNav__link {
  font-size: 1.6rem;
  margin-left: auto;
  z-index: 2;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--accent);
  transition: border-bottom 0.2s ease;

  &:hover {
    border-bottom: 1px solid transparent;
  }
}
/*
   Site main content
   ========================================================================== */

.siteTitle {
  font-family: var(--font-work-sans);
  font-size: clamp(2.4rem, 6vw, 6.4rem);
  font-weight: 600;
  line-height: 1.1;
}
