.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 100svh;
  padding-block: 16px clamp(64px, 8vw, 84px);
  font-family: var(--font-geist-sans);
}

/*
   Site header
   ========================================================================== */

.header {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 36px;
}

/*
   Site main content
   ========================================================================== */

.siteTitle {
  font-family: var(--font-work-sans);
  font-size: clamp(2.4rem, 6vw, 6.4rem);
  font-weight: 600;
  line-height: 1.1;
}
/*
   Main Section main
   ========================================================================== */
.mainSection {
  width: 100%;
  max-width: 1440px;
  padding-inline: 12px;
  margin-inline: auto;
  margin-block: 40px;
}
.mainSection__wrapper {
  background: #161616;
  padding-block: clamp(24px, 4vw, 40px);
  border-radius: 24px;
}
.clubsList {
  margin-top: 24px;
}
.clubsList__item {
  position: relative;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  background:
    linear-gradient(var(--cream), var(--cream)) top left/6px 1px no-repeat,
    linear-gradient(var(--cream), var(--cream)) top left/1px 6px no-repeat,
    linear-gradient(var(--cream), var(--cream)) top right/6px 1px no-repeat,
    linear-gradient(var(--cream), var(--cream)) top right/1px 6px no-repeat,
    linear-gradient(var(--cream), var(--cream)) bottom left/6px 1px no-repeat,
    linear-gradient(var(--cream), var(--cream)) bottom left/1px 6px no-repeat,
    linear-gradient(var(--cream), var(--cream)) bottom right/6px 1px no-repeat,
    linear-gradient(var(--cream), var(--cream)) bottom right/1px 6px no-repeat;
}
.item__inner {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.item__image {
  flex-shrink: 0;
  border-radius: 2px;
  background: #ccc;
}
.item__details {
  flex-grow: 1;
  p {
    font-size: 1.4rem;
  }
}
.item__title {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 16px;
}

.mainSection__side {
  margin-top: 64px;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-top: 0;
    padding-left: clamp(24px, 7vw, 64px);
  }
}
.side__filters {
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 24px;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      flex-wrap: nowrap;
  }
}
.side__title {
  position: relative;
  width: fit-content;
  margin-bottom: 16px;
}
.side__count {
  position: absolute;
  top: 0;
  font-size: 1.4rem;
  font-weight: 700;
  padding-block: 3px 2px;
  padding-inline: 15px 14px;
  background: rgba(255, 255, 255, 0.1);
  color: var(--cream);
  backdrop-filter: blur(10px);
  border: 0.5px solid var(--cream);
  border-radius: 999px;
  transform: translateY(-50%);
  min-width: 37px;
  min-height: 20px;
}

@media (hover: hover) and (pointer: fine) {
  .clubsList__item:hover {
    background-color: var(--accent);
    color: var(--dark);

    a {
      background: var(--cream);
      color: var(--dark);

      &:hover {
        background: var(--dark);
        color: var(--cream);
      }
    }
  }
}
