.heroSection {
  position: relative;
  background-color: var(--dark);
  color: var(--cream);
  max-width: 100%;
  height: calc(100svh - 28px);
  margin-inline: 12px;
  border-radius: 24px;
  overflow: hidden;

  &::before {
    content: " ";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/hero_runclubs.webp') no-repeat center center/cover;
    z-index: 0;
  }
}

.heroSection__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: calc(100% + 4px);
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 70%,
    rgba(16, 15, 14, 0.3) 85%,
    rgba(16, 15, 14, 0.7) 92%,
    #100F0E 98%
  );
  z-index: 1;
}

.heroSection__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  padding-block:  6.4rem;
  z-index: 3;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-block: clamp(6.4rem, 8vw, 10rem);
  }

  @media only screen and (min-width: 1025px) {
    flex-direction: row;
  }
}
.hero__main {

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-inline: clamp(24px, 7vw, 68px);
  }

  @media only screen and (min-width: 1025px) {
    max-width: 430px;
  }
}
.hero__title {
  margin-bottom: 2rem;
}

.hero__content {
  gap: 2rem;
}

.hero__actions {
  margin-top: 2.4rem;
  gap: clamp(2.4rem, 3vw, 3.2rem);

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-top: auto;
  }
}

.buttons {
  width: 100%;
  gap: 1rem;
  align-items: center;

  a {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.4);
    width: 100%;

    &:last-of-type {
      border: 1px solid var(--cream);
      color: var(--cream);
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(6px);
      &:hover {
        background: var(--cream);
        color: var(--dark);
      }
    }

    @media only screen and (min-width: 468px) {        
      max-width: fit-content;
      flex-wrap: nowrap;
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      text-wrap: nowrap;
    }
  }
}

.hero__submitButton {
  border: 1px solid var(--cream);
}
