.mainSection {
  width: 100%;
  max-width: 1440px;
  padding-inline: 12px;
  margin-inline: auto;
  margin-block: 40px;
}
.mainSection__wrapper {
  position: relative;
  background: var(--dark-gray);
  padding-block: clamp(24px, 4vw, 40px);
  border-radius: 24px;
}

.mainSection__title {
  margin-bottom: 24px;
}
.mainSection__clubsList {
  margin-top: 24px;
}
.item__inner {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.item__image {
  flex-shrink: 0;
  border-radius: 2px;
  background: #ccc;
}
.item__details {
  flex-grow: 1;
  p {
    font-size: 1.4rem;
  }
}
.item__title {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 16px;
}

@media (hover: hover) and (pointer: fine) {
  .clubsList__item:hover {
    background-color: var(--accent);
    color: var(--dark);

    a {
      background: var(--cream);
      color: var(--dark);

      &:hover {
        background: var(--dark);
        color: var(--cream);
      }
    }
  }
}