.allClubsList {
  margin-top: 24px;
  gap: 1.2rem;
  grid-template-columns: 1fr;

  @media only screen and (min-width: 468px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* allClubsList has a child element with class noResults */
.allClubsList:has(.noResults) {
  grid-template-columns: 1fr;
}
.allClubsList__item {
  background-color: var(--cream);
  color: var(--dark);
  transition:
    background-color 0.2s ease-out,
    color 0.2s ease-out;
  cursor: pointer;
}

.allClubsList__link {
  padding: 12px;
  gap: 1.2rem;
  height: 100%;
}

.allClubsList__imageWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
  display: flex;
  background: var(--white);
}
.allClubsList__image {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}

.allClubsList__info {
  gap: 0.4rem;
  flex: 1;
  width: 100%;

  .city {
    letter-spacing: 0.8px;
    opacity: 0.7;
  }

  h4 {
    margin-bottom: 4px;
  }
}
.allClubsList__days {
    gap: 0.8rem;
    margin-bottom: 40px;
}

.allClubsList__btn {
  background: var(--dark);
  color: var(--cream);
  border: 1px solid transparent;
  padding-block: 4px;
  padding-inline: 16px 4px;
  margin-top: auto;
  margin-left: auto;
  justify-content: space-between;
  gap: 1.2rem;
  overflow: hidden;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      width: fit-content;  
  }
}
.allClubsList__linkIcon {
    padding: 7px;

     &:after {
      background: linear-gradient(to left, rgba(16, 15, 14, 1), rgba(16, 15, 14, 0.3)) !important;
    }

    svg {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
    }
}

.noResults {
  font-size: 1.4rem;
  padding: 24px;
  border-radius: 12px;
  background: var(--cream);
  color: var(--dark);
  align-items: center;
  justify-content: center;

  span {
    margin-bottom: 8px;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .allClubsList__item:hover {
    background-color: var(--cream);
    color: var(--dark);
  }
}