.rcForm {
  margin-block: 48px 0px;
  margin-inline: auto;

  &.update {
    align-items: center;
    max-width: fit-content;
  }
}
.rcForm__header {
  margin-bottom: clamp(40px, 7vw, 64px);

  p:first-of-type {
    margin-bottom: 0.8rem;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    align-self: center;
    text-align: center;
  }
}
.rcForm__title {
  margin-bottom: clamp(2.4rem, 4vw, 4rem);
}
.rcForm__wrapper {
  gap: 3.2rem;
  margin-block: 0px clamp(32px, 4vw, 40px);
}
.rcForm__block {
  gap: 1.2rem;
  width: 100%;
  max-width: 600px;
}
.rcForm__step {
  gap: 0.8rem 1.2rem;
  align-items: center;
  color: var(--muted-text);

  .icon {
    font-size: 1.4rem;
    font-weight: 700;
    padding-block: 3px 2px;
    padding-inline: 15px 14px;
    background: rgba(255, 255, 255, 0.1);
    color: var(--cream);
    backdrop-filter: blur(10px);
    border: 0.5px solid var(--cream);
    border-radius: var(--bradius-xl);    text-wrap: nowrap;
  }
}
.rcForm__section {
  padding-inline: clamp(1.2rem, 2vw, 2rem);
  padding-block: clamp(1.6rem, 3vw, 2.4rem);
  gap: 1rem;
  width: 100%;
  background: var(--cream);
  color: var(--dark);
}

/* Edit club form current logo */
.existingLogo {

}