.page {
  margin-inline: 12px;
}
.pageHeader {
  background: var(--white);
  color: var(--dark);
  flex-direction: column;
  padding-block: clamp(16px, 6vw, 64px) clamp(40px, 8vw, 80px);
  border-radius: clamp(12px, 2vw, 16px);
  margin-top: 100px;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-top: 93px;
  }
}
.pageHeader__imgwrapper {
  background: var(--white);
  max-width: 275px;
  max-height: 275px;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: clamp(12px, 2vw, 16px);
  margin-bottom: clamp(24px, 4vw, 40px);
  margin-inline: auto;
}
.pageHeader__image {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}
.pageHeader__titledes {
  margin-inline: auto;
}
.pageHeader__title {
  margin-bottom: clamp(12px, 2vw, 24px);
  margin-inline: auto;
  text-align: center;
}
.pageHeader__description {
  text-align: center;
  max-width: 636px;
}
.pageHeader__cards {
  margin-inline: auto;
  max-width: 846px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin-block: clamp(40px, 5vw, 48px);
}

.pageHeader__card {
  width: 100%;
  padding-block: 16px;
  border-top: var(--divider);
  flex-direction: column;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    flex-direction: row;
  }

  &:last-child {
    border-bottom: var(--divider);
  }
}
.label {
  width: 150px;
  margin-bottom: clamp(8px, 2vw, 12px);
  color: var(--gray);
}
.card_main {
  p {
    color: var(--gray);
  }
}
.cardTitle {
  margin-block: 0px 4px;
}
.pageHeader__subtitle {
  text-align: center;
  margin-inline: auto;
  max-width: 458px;
}
.pageHeader__socials {
  width: 100%;
  justify-content: center;
  margin-top: clamp(12px, 3vw, 24px);
  gap: clamp(16px, 2vw, 24px);

  .socialIcon {
    background: var(--dark);
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 999px;
    display: inline-flex;
    transition: background-color 0.2s ease;
  }
  .socialIcon__fb {
    path {
      fill: var(--cream);
    }
  }
}
.pageMain {
  position: relative;
  background: var(--dark);

  section {
    margin-top: clamp(32px, 6vw, 64px);
    padding-bottom: clamp(64px, 8vw, 80px);
  }

  &:before,
  &:after {
    position: absolute;
    content: "";
    display: block;
    user-select: none;
    white-space: pre;
    height: 48px;
    width: calc(100% + 160px);
    z-index: -1;
    background: var(--dark);
    user-select: none;
    pointer-events: none;
  }
  &:before {
    left: -80px;
    top: -24px;
  }
  &:after {
    left: -80px;
    bottom: -24px;
  }
}
