.page {
    margin-block: 100px 80px;
    color: var(--cream);

    &.empty {
        margin-top: 0;

        div {
            align-items: center;
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
        margin-top: 93px;
    }
}