.page {
  padding-top: 16px;
  margin-bottom: clamp(64px, 8vw, 80px);
}
.dashboard {
  margin-top: clamp(32px, 4vw, 40px);
  display: block;
  width: 100%;
}
.card_dashboard {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.10);
  background: var(--cream);
  color: var(--dark);

  &.accent {
    background: var(--accent);
    color: var(--cream);
  }
  &.dark {
    background: #18191b;
    color: var(--cream);
  }
}
.page__header {
  width: 100%;
  margin-top: clamp(3.2rem, 4vw, 4rem);
  margin-left: clamp(1.2rem, 2vw, 1.6rem);
  h1 {
    margin-bottom: 1.2rem;
  }

}
.dashboardStats {
  margin-top: 1.6rem;
}
.dashboardStats__list {
  gap: 1.6rem;

  @media only screen and (min-width: 468px) and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (min-width: 1025px) {
    grid-template-columns: repeat(3, 1fr);  
  }

}
.dashboardStats__item {
  aspect-ratio: 3 / 2;
}
.dashboardStats__item.simple {
  .inner {
    height: 100%;
    justify-content: space-between;

    h3, h4 {
      font-weight: 500;
    }
  }
}
.dashboardStats__label {

}
.dashboardStats__initials {
  margin-block: 0.4rem 0.8rem;
  border-radius: 9999px;
  width: clamp(48px, 7vw, 64px);
  height: clamp(48px, 7vw, 64px);
  background: var(--dark);
  color: var(--cream);
  align-items: center;
  justify-content: center;

}
.nameMember {
  width: 100%;
  margin-top: auto;
  justify-content: space-between;
  align-items: end;

  .name {
  }
  .since {

  }
}

/*
   Run clubs and create events section
   ========================================================================== */
.clubsNevents {
  margin-top: 1.6rem;
  gap: 1.6rem;

  @media only screen and (min-width: 468px) and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: 1025px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .card_dashboard {
    grid-column: 1 / -1;

    &:first-of-type {
      @media only screen and (min-width: 468px) {
        grid-column: span 1;
      }
      @media only screen and (min-width: 1025px) {
        grid-column: span 2;
      }
    }
    &:last-of-type {
      @media only screen and (min-width: 468px) {
        grid-column: span 1;
      }
    }
  }

  ul {
    margin-top: 2.4rem;
  }
}
.titlecount {
  justify-content: space-between;
  div {
    font-size: 1.4rem;
    font-weight: 700;
    padding-block: 3px 2px;
    padding-inline: 15px 14px;
    background: var(--dark);
    color: var(--cream);
    backdrop-filter: blur(10px);
    border-radius: 999px;
    align-content: center;
  }
}
.createEvent {
  justify-content: space-between;

}
.createEvent__title {
  h5 {
    margin-bottom: 0.4rem;
  }
  margin-bottom: clamp(3.2rem, 4vw, 4rem);
}
.createEvent__btn {
  width: 100%;
  background: var(--accent);
  color: var(--dark);
  &:hover {
    opacity: 0.9;
  }

}
