.page {
  margin-bottom: clamp(64px, 8vw, 80px);
  flex-wrap: nowrap;
}
.page__main {
  width: 100%;
  padding-inline: clamp(1.2rem, 2vw, 2.4rem) 0;
}
.page__header {
  margin-block: clamp(3.2rem, 4vw, 4rem) clamp(32px, 5vw, 48px);
  h1 {
    margin-bottom: 1.2rem;
  }
}
.dashboard {
  margin-top: clamp(32px, 4vw, 40px);
  display: block;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  min-height: calc(75svh);

  &.loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.card_dashboard {
  padding: clamp(16px, 2vw, 20px);
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  background: var(--cream);
  color: var(--dark);

  &.accent {
    background: var(--accent);
    color: var(--cream);
  }
  &.dark {
    background: var(--dark-gray);
    color: var(--cream);
  }
}
.dashboardStats {
  margin-top: 1.6rem;
}
.dashboardStats__list {
  gap: 1.6rem;

  @media only screen and (min-width: 468px) and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (min-width: 1025px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.dashboardStats__item {
  aspect-ratio: 3 / 2;
}
.dashboardStats__item.simple {
  .inner {
    height: 100%;
    justify-content: space-between;
    color: var(--dark);

    h3,
    h4 {
      font-weight: 500;
    }
  }
}
.dashboardStats__label {
}
.dashboardStats__initials {
  margin-block: 0.4rem 0.8rem;
  border-radius: 9999px;
  width: clamp(48px, 7vw, 64px);
  height: clamp(48px, 7vw, 64px);
  background: var(--dark);
  color: var(--cream);
  align-items: center;
  justify-content: center;
}
.nameMember {
  width: 100%;
  margin-top: auto;
  justify-content: space-between;
  align-items: end;
}

/*
   Run clubs and create events section
   ========================================================================== */
.clubsNevents {
  margin-top: 1.6rem;
  gap: 1.6rem;

  @media only screen and (min-width: 468px) and (max-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }

  @media only screen and (min-width: 1025px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .card_dashboard {
    grid-column: 1 / -1;

    &:first-of-type {
      @media only screen and (min-width: 468px) {
        grid-column: span 1;
      }
      @media only screen and (min-width: 1025px) {
        grid-column: span 2;
      }
    }
    &:last-of-type {
      @media only screen and (min-width: 468px) {
        grid-column: span 1;
      }
    }
  }
}
.titlecount {
  justify-content: space-between;
  div {
    font-size: 1.4rem;
    font-weight: 700;
    padding-block: 3px 2px;
    padding-inline: 15px 14px;
    background: var(--dark);
    color: var(--cream);
    backdrop-filter: blur(10px);
    border-radius: 999px;
    align-content: center;
  }
}
.clubsNevents__list {
  margin-top: 2.4rem;
  gap: 1.6rem;
  
}
.createEvent {
  justify-content: space-between;
  aspect-ratio: 3 / 2;
}
.createEvent__title {
  h5 {
    margin-bottom: 0.4rem;
  }
  margin-bottom: clamp(3.2rem, 4vw, 4rem);
}
.createEvent__btn {
  width: 100%;
}

/*
   Dashboard Events Tab View
   ========================================================================== */
.dashboardEvents {
  .main {
    h6 {
      margin-bottom: 0.8rem;
    }
  }
  .list {
  }
}
.dashboardEvents__header {
  margin-bottom: clamp(3.2rem, 4vw, 4rem);
  justify-content: space-between;
  flex-wrap: nowrap;
}
.dashboardEvents__content {
  .list {
    gap: 1.6rem;
  }
  .list__item {
  }
  .list__divider {

    align-items: center;
    gap: 1.2rem;
    position: relative;
    width: 100%;
    margin-bottom: 1.6rem;
  }

  .list__divider span {

  }

  .list__divider::after {
    content: "";
    flex: 1;
    height: 2px;
    background: var(--cream);
    opacity: 0.3;
    margin-left: 1.2rem;
    display: block;
    border-radius: 2px;
    z-index: 0;
  }
}
.dashboardEvents__btn {
  gap: 0.8rem;
}

/*** Create event modal form ***/
.form {
  width: fit-content;
  margin-inline: auto;
  width: 100%;
  max-width: 550px;
}
.form__section {
  gap: 1.2rem;
  width: 100%;
}
.form__header {
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}
.form__body {
  padding-block: clamp(3.2rem, 4vw, 4rem);
  width: 100%;
}
.form__timegroup {
  gap: 1.6rem;
  flex-wrap: nowrap;
  width: 50%;
}
.form__actions {
  gap: 1.2rem;
  width: 100%;

  button {
    width: 100%;
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    width: fit-content;
    flex-wrap: nowrap;
    margin-left: auto;
  }

  .form__cancel {
    &:hover {
      background: var(--accent);
      border: 1px solid var(--accent);
    }
  }
}